@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
}

/* Set a background color and text color for the entire page */
body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.dropdown {
  margin: 0 auto;
}

.about {
  width: 100%;
  padding: 100px 0px;
}

.about img {
  height: 400px;
  width: 400px;
  margin-left: 8rem;
  border-radius: 20px 0 20px 0;
}

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about h2 {
  color: #63954b;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.about h2::before,
.about h2::after {
  content: "";
  height: 2px;
  background-color: #213229;
  display: block;
}

.about-text p {
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 15px;
  margin-bottom: 35px;
}

.about-text {
  width: 500px;
}

.reciepe {
  background-color: #fff;
  margin: 20px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.reciepe img {
  max-width: 100%;
  border-radius: 5px;
}
.reciepe h2 {
  margin: 10px 0;
}
.reciepe p {
  color: #666;
}
.reciepe a {
  display: inline-block;
  background-color: #63954b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.r1, .r11, .r10, .r9, .r7, .r6, .r5, .r3, .r2 {
  max-width: 350px;
  margin: -4rem 0rem 0rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.r2 {
  margin: -38rem 0rem 0rem 29rem;
}

.r3 {
  margin: -38rem 0rem 0rem 53rem;
}

.r5 {
  margin: 0rem 0rem 0rem 5rem;
}

.r6 {
  margin: -35.25rem 0rem 0rem 29rem;
}

.r7 {
  margin: -39.5rem 0rem 0rem 53rem;
}

.r9 {
  margin: 0rem 0rem 0rem 5rem;
}

.r10 {
  max-height: 350px;
  margin: -31rem 0rem 6rem 29rem;
}

.r11 {
  margin: -28rem 0rem 0rem 53rem;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: none;
}

.contact-info,
.contact-form {
  width: 100%;
  max-width: 300px;
  margin: 20px;
  text-align: left;
  justify-content: left;
  color: #63954b;
  font-size: 20px;
}

.contact-info h2,
.contact-form h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #63954b;
}

.contact-form form {
  text-align: center;
  justify-content: center;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact-form button {
  background-color: #63954b;
  color: #fff;
  text-decoration: none;
  border: 2px solid;
  font-weight: bold;
  transform: 0.4s;
  padding: 10px 0px;
}

.contact-form button:hover {
  background-color: rgba(99, 149, 75, 0.9);
  color: white;
  border: 2px;
  cursor: pointer;
}

.contact-form label {
  text-align: left;
  color: #63954b;
}

.contact-form input,
.contact-form textarea {
  padding: 8px;
}

.contact-info p {
  padding: 15px;
}

footer {
  text-align: center;
  margin-top: 0rem;
  padding: 20px 0;
  font-size: 20px;
  background-color: #63954b;
  color: rgba(255, 255, 255, 0.8);
}
footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
footer .social-icons .social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 40px;
  font-size: 38px;
}
footer .social-icons .social-icon:hover {
  color: #314e52;
  cursor: pointer;
}

.recipe {
  width: 100%;
  padding: 100px 0px;
  background-color: #213032;
}
.recipe h2 {
  color: #edffef;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.recipe .box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.recipe .box .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.recipe .box .card:hover .content {
  opacity: 1;
}
.recipe .box .card img {
  width: 100%;
  height: 1005;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe .box .card h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #213032;
}
.recipe .box .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #edffef;
  color: #182f32;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.recipe .box .card button {
  position: relative;
  background-color: #213032;
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  font-weight: bold;
  transform: 0.4s;
  padding: 13px 30px;
}
.recipe .box .card button:hover {
  background-color: #97a2a3;
  color: #213032;
  border: 2px solid black;
  cursor: pointer;
}

nav ul {
  list-style: none;
  float: right;
  margin-right: 30px;
}
nav ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
nav ul li .logo {
  color: #63954b;
  padding-right: 30rem;
}
nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: 60px;
  font-size: 20px;
  text-decoration: none;
  color: #63954b;
}
nav ul li a:hover {
  background: #63954b;
  color: white;
}
nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}
nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

nav ul li:hover > ul {
  display: block;
}

.hero img {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.hero .content {
  position: absolute;
  top: 40%;
  left: 8%;
  color: rgba(245, 245, 245, 0.9);
  transform: translateY(-50%);
}
.hero .content h1 {
  font-size: 60px;
}
.hero .content .button {
  position: absolute;
  background-color: #63954b;
  color: #fff;
  text-decoration: none;
  border: 2px;
  font-weight: bold;
  padding: 13px 30px;
  transform: 0.4s;
}
.hero .content .button:hover {
  background-color: #a5bf36;
  color: #213032;
  border: 2px;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style1.css.map */